<!-- nav bootstrap -->

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Gestion Produits</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" routerLink="/produits">Home</a>
        </li>

        <li class="nav-item dropdown">
          <!-- <button class="btn text-light dropdown-toggle active" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown button
          </button> -->
          <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown" role="button"
            aria-expanded="false">
            Produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/add-produit">Ajouter</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="/produits">Lister</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" id="navbardrop" role="button" data-bs-toggle="dropdown">
            [username]
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item">login</a>
            <a class="dropdown-item">logout</a>
            <a class="dropdown-item">Profile</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>